#submitbtn{
  border-radius: 20px;
  float:right;
}

.table.table1{
  border-style:hidden;
}

.panel{
  margin: 20px;
}

.table.table2{
  color: darkblue;
}

th, td {
  text-align: center;
}

.icon{
  text-align: center;
}

h5{
  text-align: left;
}

/*tr:nth-child(even) {*/
/*  text-align: center;*/
/*  height:500px;*/
/*}*/


/*tb.i.fa.tab1 {*/
/*  font-size:110px;*/
/*  color: darkblue;*/
/*  align: center;*/
/*  padding-bottom: 10px;*/
/*}*/

/*td.i.fa.tab1 {*/
/*  vertical-align: center;*/
/*}*/


