<app-menu></app-menu>
<a href="/add-attendance">Add Attendance</a> <br>
<a href="/view-attendance">View Attendance</a><br>
<a href="/attendance-details"> Attendance Details</a><br>
<a href="/update-attendance">Update Attendance </a><br>

<a href="/add-payment">Add Payment</a> <br>
<a href="/view-payment">View Payment</a><br>
<a href="/payment-details"> Payment Details</a><br>
<a href="/update-payment">Update Payment </a><br>

<a href="/add-employee">Add Employee</a><br>
<a href="/view-employee">View Employee</a><br>
<a href="/employee-details"> Employee Details</a><br>
<a href="/update-employee">Update Employee </a><br>

<div class="card-deck" id="main">

  <div class="card  text-center mb-3" style="max-width: 18rem;">
    <a class="card-body" href="/view-payment">
      <i class="fa fa-users darkblue"></i>
      <h6 class="card-title">Employee </h6>
    </a>
  </div>

  <div class="card  text-center mb-3" style="max-width: 18rem;">
    <a class="card-body" href="/view-attendance">
      <i class="fa fa-calendar-check-o darkblue"></i>
      <h6 class="card-title">Attendance</h6>
    </a>
  </div>

  <div class="card text-center mb-3" style="max-width: 18rem;">
    <a class="card-body" href="/view-payment">
      <i class="fa fa-usd darkblue"></i>
      <h6 class="card-title ">Payment</h6>
    </a>
  </div>

</div>




