<app-menu></app-menu>

<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form name="employee"  (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="empId">Employee Id:</label>
        <input type="text" class="form-control" id="empId" placeholder="1001" required [(ngModel)]="employee.empId" name="empId">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name:</label>
          <input type="text" class="form-control" id="firstName" placeholder="FirstName" required [(ngModel)]="employee.firstName" name="firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last name:</label>
          <input type="text" class="form-control" id="lastName" placeholder="LastName" required [(ngModel)]="employee.lastName" name="lastName">
        </div>
      </div>

      <div class="form-group ">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="employee.email" name="email">
      </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="designation">Designation:</label>
        <input type="text" class="form-control" id="designation" placeholder="Software Engineer" required [(ngModel)]="employee.designation" name="designation">
      </div>
      <div class="form-group col-md-4">
        <label for="hourlypay">Hourlypay:</label>
        <input type="text" class="form-control" id="hourlypay" placeholder="200.00" required [(ngModel)]="employee.hourlypay" name="hourlypay">
      </div>
      <div class="form-group col-md-4">
        <label for="maximumWorkingHours">Max Working Hours:</label>
        <input type="text" class="form-control" id="maximumWorkingHours" placeholder="9" required [(ngModel)]="employee.maximumWorkingHours" name="maximumWorkingHours">
      </div>
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
