<app-menu></app-menu>

<h2>Payment Details</h2>

<hr/>
<div *ngIf="payment">
  <div>
    <label><b>Emp Id: </b></label> {{payment.empId}}
  </div>
  <div>
    <label><b>Year: </b></label> {{payment.year}}
  </div>
  <div>
    <label><b>Month: </b></label> {{payment.month}}
  </div>
  <div>
    <label><b>Day: </b></label> {{payment.day}}
  </div>
  <div>
    <label><b>Working Hours: </b></label> {{payment.workingHours}}
  </div>
  <div>
    <label><b>Hourlypay: </b></label> {{payment.hourlypay}}
  </div>
  <div>
    <label><b>Day Salary: </b></label> {{payment.daySalary}}
  </div>

</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Payment List</button><br>
