<app-menu></app-menu>

<div class="container col-lg-4 ">

  <div [hidden]="submitted">
    <h5><b>DAILY PAYMENT DETAILS</b></h5>
    <hr/>
    <div *ngIf="payment">

      <table class="table table1">
        <tr>
          <td><label><b>Emp Id: </b></label></td>
          <td> {{payment.empId}}</td>
        </tr>

        <tr>
          <td><label><b>Year: </b></label></td>
          <td>{{payment.year}}</td>
        </tr>

        <tr>
          <td><label><b>Month: </b></label></td>
          <td> {{payment.month}}</td>
        </tr>

        <tr>
          <td><label><b>Day: </b></label></td>
          <td> {{payment.day}}</td>
        </tr>

        <tr>
          <td><label><b>Working Hours: </b></label></td>
          <td> {{payment.workingHours}}</td>
        </tr>

        <tr>
          <td><label><b>Hourlypay: </b></label></td>
          <td> {{payment.hourlypay}}</td>
        </tr>

        <tr>
          <td><label><b>Day Salary: </b></label></td>
          <td> {{payment.daySalary}}</td>
        </tr>

      </table>

      <button type="submit" class="btn" id="submitbtn" (click)="list()">Back to Payment List</button>


  </div>
</div>
